* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --color-body-background: hsl(0 0% 10%);
  --color-body-font: hsl(0 0% 80%);
}

a {
  color: hsl(0 0% 80%);
}

a:visited {
  color: cyan;
}

body {
  background-color: var(--color-body-background);
  color: var(--color-body-font);
  font-family: monospace;
}
